.m-t-40.card-box
  .text-center
    %h4.text-uppercase.font-bold.m-b-0 Sign In
  .panel-body
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .form-group
        .col-xs-12
          = f.input :email, label: false, input_html: { class: 'form-control', placeholder: "Email", type: "email", :autofocus => "" }
      .form-group
        .col-xs-12
          = f.input :password, label: false, input_html: { class: 'form-control', placeholder: "Password", type: "password" }
      .form-group.text-center.m-t-30
        .col-xs-12
          %button.btn.btn-custom.btn-bordred.btn-block.waves-effect.waves-light{:type => "submit"} Log In
      -#.form-group.m-t-30.m-b-0
        .col-sm-12
          %a.text-muted{:href => "page-recoverpw.html"}
            %i.fa.fa-lock.m-r-5
            Forgot your password?

